<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- Bootstrap Icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css"
    />

    <!-- My CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stylesheet/style.css')}}"
    />

    <title>Vehicle Speed Monitoring System</title>
  </head>

  <body id="home">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark shadow fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img
            src="{{ url_for('static', filename='Img/huawei_logo_icon_169026.png')}}"
            alt=""
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          Vehicle Speed Monitoring System
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                class="menu_nav nav-link active"
                aria-current="page"
                href="#home"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="menu_nav nav-link active" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="menu_nav nav-link active" href="#Creator">Creator</a>
            </li>

            <li class="nav-item">
              <a class="menu_nav nav-link active" href="/hasil">Offender</a>
            </li>

            <li class="nav-item">
              <a class="menu_nav nav-link active" href="/TestResult">Capture</a>
            </li>

            <li class="nav-item">
              <a class="menu_nav nav-link active" href="#Contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- AKhir Navbar -->

    <!-- Jumbotron -->
    <section class="jumbotron text-center text-white">
      <br /><br /><br />
      <style>
        .jumbotron {
          background-position: center;
          /* background-repeat: no-repeat; */
          background-attachment: fixed;
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.527),
              rgba(0, 0, 0, 0.5)
            ),
            url({{url_for(
                "static",
                filename= "Img/wallpaperflare.com_wallpaper.jpg"
              )}});
        }
      </style>
      <div class="container">
        <div class="header-content">
          <h1 class="et_pb_module_header">Vehicle Speed Monitoring System</h1>
        </div>
        <br />
        <div class="tombol_data">
          <a href="/hasil" class="tombol_data_1 btn">Offender</a>
        </div>
        <br />
        <div class="tombol_data">
          <a href="/TestResult" class="tombol_data_1 btn">Capture</a>
        </div>
      </div>
      <br /><br /><br /><br />
    </section>
    <!-- Akhir Jumbtron -->

    <!-- ABOUT -->
    <section id="about">
      <div class="container mb-3">
        <div class="row text-center">
          <div class="col mb-1">
            <h2 class="judul">About Project</h2>
          </div>
        </div>
        <div class="row justify-content-center fs-5 text-center mb-3">
          <div class="col-md-9">
            <p>
              Web ini merupakan web yang dapat melakukan deteksi kecepatan
              kendaraan dan identifikasi jenis kendaraan.
            </p>
          </div>
        </div>
        <div class="row justify-content-center fs-5 text-left mb-3">
          <div class="col-md-6">
            <p>
              Cara kerja dari kecepatan kendaraan ini adalah menggunakan konsep
              image processing dalam python dengan menggunakan opencv dan
              tensorflow. Sistem ini menggunakan objek tracking untuk
              mendapatkan kecepatan kendaraan. Saat objek tracking tersebut
              menyentuh garis merah maka sistem akan mengetahui dari setiap
              kendaraan yang lewat.
            </p>
            <div class="text-center">
              <img
                class="center"
                src="{{ url_for('static', filename='Img/Screenshot from 2022-01-07 23-20-16.png')}}"
                width="200px"
                height="auto"
                style="border: 5px solid #555"
                alt="..."
              />
            </div>
          </div>
          <div class="col-md-6">
            <p>
              Cara kerja dari deteksi kendaraan ini adalah menggunakan metode
              CNN (Convolutional Neural Network) dengan dataset cifar10. Dataset
              tersebut ditraining menggunakan google colab lalu hasil model
              training tersebut dijalankan menggunakan visual studio code. Jenis
              Kendaraan yang dideteksi adalah mobil dan truk.
            </p>
            <div class="text-center">
              <img
                src="{{ url_for('static', filename='Img/1xSUrBv9FbINVep1QvifQGMwQQPEp5Df4.jpeg')}}"
                width="200px"
                height="auto"
                style="border: 5px solid #555"
                alt="..."
              />
              <img
                src="{{ url_for('static', filename='Img/1NW55UK3tMNVbn_Rl_-bCL4XVQBeN0LCH.jpeg')}}"
                width="200px"
                height="auto"
                style="border: 5px solid #555"
                alt="..."
              />
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
      <br />
      <br />
    </section>
    <!-- Akhir ABOUT -->

    <!-- Project -->
    <section id="Creator">
      <div class="container text-white">
        <div class="row text-center mb-3">
          <div class="col">
            <h2 class="judul" style="color: #ffffff">Creator</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 mb-3 mt-3 text-center">
            <img
              src="{{ url_for('static', filename='Img/images.png')}}"
              class="img-fluid rounded-circle mb-3 border border-dark border-5"
              alt="..."
              width="200"
              height="auto"
            />
            <div class="text-center">
              <h2>Adhitya Aldira Hardy</h2>
              <h4>Universitas Telkom</h4>
              <h4>S1 Teknik Informatika</h4>
              <h4>1301184036</h4>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <img
              src="{{ url_for('static', filename='Img/images1.png')}}"
              class="img-fluid rounded-circle mb-3 border border-dark border-5"
              alt="..."
              width="200"
              height="auto"
            />
            <div class="text-center">
              <h2>Ismail</h2>
              <h4>Universitas Telkom</h4>
              <h4>S1 Teknik Elektro</h4>
              <h4>1102183243</h4>
            </div>
          </div>
        </div>
        <br />
        <div class="row justify-content-center">
          <div class="col-md-6 mb-3 mt-3 text-center">
            <img
              src="{{ url_for('static', filename='Img/images.png')}}"
              class="img-fluid rounded-circle mb-3 border border-dark border-5"
              alt="..."
              width="200"
              height="auto"
            />
            <div class="text-center">
              <h2>Nova Hanafi Syafiuddin</h2>
              <h4>Universitas Telkom</h4>
              <h4>S1 Teknologi Informasi</h4>
              <h4>1303184122</h4>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <img
              src="{{ url_for('static', filename='Img/images1.png')}}"
              class="img-fluid rounded-circle mb-3 border border-dark border-5"
              alt="..."
              width="200"
              height="auto"
            />
            <div class="text-center">
              <h2>Cornelius Yosafat</h2>
              <h4>Universitas Telkom</h4>
              <h4>S1 Teknik Elektro</h4>
              <h4>1102190237</h4>
            </div>
          </div>
        </div>
      </div>
      <br /><br />
    </section>
    <!-- akhir Project -->

    <!-- Contact -->
    <section id="Contact">
      <div class="container">
        <div class="row text-center mb-3">
          <div class="col">
            <h2 class="judul">Contact Us</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6">
            <form>
              <div class="mb-3">
                <label for="name" class="form-label">Nama Lengkap</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  aria-describedby="name"
                />
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  aria-describedby="email"
                />
              </div>
              <div class="mb-3">
                <label for="pesan" class="form-label">Pesan</label>
                <textarea class="form-control" id="pesan" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">
                Kirim <i class="bi bi-send-fill"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
      <br />
      <br />
    </section>
    <!-- Akhir Contact -->

    <!-- Footer -->
    <footer class="footer text-white text-center pb-5" id="foter">
      <p>
        Created by
        <a
          href="https://www.linkedin.com/in/adhityahardy/"
          class="text-white fw-bold"
          >Adhitya</a
        >
        <a
          href="https://www.linkedin.com/in/ismail-marzuki-1668401b2/"
          class="text-white fw-bold"
          >Ismail</a
        >
        <a
          href="https://www.linkedin.com/in/ismail-marzuki-1668401b2/"
          class="text-white fw-bold"
          >Cornelius</a
        >
        <a
          href="https://www.linkedin.com/in/ismail-marzuki-1668401b2/"
          class="text-white fw-bold"
          >Nova</a
        >
      </p>
    </footer>
    <!-- AKhir Footer -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(function () {
        // File type validation
        $("#fileInput").change(function () {
          var fileLength = this.files.length;
          var match = ["image/jpeg", "image/png", "image/jpg", "image/gif"];
          var i;
          for (i = 0; i < fileLength; i++) {
            var file = this.files[i];
            var imagefile = file.type;
            if (
              !(
                imagefile == match[0] ||
                imagefile == match[1] ||
                imagefile == match[2] ||
                imagefile == match[3]
              )
            ) {
              alert("Please select a valid image file (JPEG/JPG/PNG/GIF).");
              $("#fileInput").val("");
              return false;
            }
          }
        });
      });
    </script>
  </body>
</html>
